


  {{#each movie}}
  <div>
    <h3 class = "title">{{title}} </h3>
      <p id = 'movie-list'> {{actors}} | {{year}}  | {{genre}}

          Have I seen it? {{viewed}}, Rating 1 - 10 {{rating}}
      </p> 
    <button type ='button'  id = 'deleteFB'>Delete forever</button> 
  </div>
  {{/each}}

   