{{#each this}}
  <section class="movie-holder" key="{{key}}" title="{{title}}">
    <div class="poster">
      <button class="btn btn-default delete-btn hidden"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
      {{#if poster}}
        <img src="{{poster}}" alt="{{title}} poster">
      {{else}}
        <h3>{{title}}</h3>
      {{/if}}
    </div>
    {{#if seenit}}
      <div>
        <input type="number" class="input-id rating" min=0 max=10 step=1 data-size="xs" val={{rating}}>
      </div>
    {{else}}
      {{#if notadded}}
      <div>
        <button class="btn btn-success add-btn">Add</button>
      </div>
      {{else}}
        <div>
          <button class="btn btn-warning watched-btn">Watched</button>
        </div>
        {{/if}}
    {{/if}}
  </section>
{{/each}}